.header {
  background-color: var(--item-bg-color);
  height: 80px;
  color: var(--text-color);
  align-items: center;
  box-shadow: 0px 0px 16px -8px #000000;
}

.header .container {
  margin: 0 auto;
  width: 90vw;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header h1 {
  font-family: var(--nunito-font);
  font-weight: 700;
  font-size: 16px;
}

.header .mode-switcher {
  align-items: center;
  display: flex;
  gap: 10px;
  font-family: var(--nunito-font);
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.header .mode-switcher ion-icon {
  font-size: 16px;
}
