.countries {
  display: grid;
  width: 90vw;
  margin: 0 auto;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  justify-content: center;
  align-content: center;
  min-height: 100vh;
}

/* @media (min-width: 586px) {
  .countries {
    grid-template-columns: repeat(1, 1fr);
    align-content: center;
  }
}
@media (min-width: 610px) {
  .countries {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (min-width: 948px) {
  .countries {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media (min-width: 1220px) {
  .countries {
    grid-template-columns: repeat(4, 1fr);
  }
}
 */
